# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
# package-lock.json
yarn.lock

# Version control
.git
.gitignore
.github

# Environment variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Testing
coverage
.nyc_output
__tests__
test
tests
*.test.js
*.spec.js

# Build outputs
dist
./dist/*
build
out

# Editor directories and files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
logs
*.log

# Documentation
docs
*.md
LICENSE

# Miscellaneous
.eslintrc
.prettierrc
.editorconfig
jest.config.js
nodemon.json